<ion-content [fullscreen]="true">
  <ion-grid class="ion-display-flex ion-flex-column ion-align-items-center ion-justify-content-center"
    style="height: 100%; gap: 3rem;">
    <ion-row>
      <ion-img src="assets/Logo.svg" class="animate__animated animate__fadeInUp animate__delay-1s animate__slow"></ion-img>
    </ion-row>
    <ion-row>
      <section class="animate__animated animate__fadeIn animate__delay-3s">
        <div class="splash-status__dots">
          <span class="splash-status__dot"></span>
          <span class="splash-status__dot"></span>
          <span class="splash-status__dot"></span>
          <span class="splash-status__dot"></span>
          <span class="splash-status__dot"></span>
        </div>
        <p class="splash-status__text">Validando Sesion...</p>
      </section>
    </ion-row>
  </ion-grid>
</ion-content>